body {
  background-color: linear-gradient(45deg, #f3eecf, #f9faf1);
  display: flex;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 150px;
  height:  150px;
}

.front,
.back {
  width:  150px;
  height:  150px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  border-radius: 10px;
}

/* .front img {
  width: 249px;
  height: 216px;
} */

.back {
  background-color: whitesmoke;
  transform: perspective(600px) rotateX(180deg);
}

.front {
  transform: perspective(600px) rotateX(0deg);
}

.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.card:hover > .front {
  transform: perspective(600px) rotateX(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateX(0deg);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card {
    cursor: pointer;
    width: 170px;
    height: 270px;
  }
  .front,
  .back {
    cursor: pointer;
    width: 170px;
    height: 270px;
  }
  .back-content {
    color: #2c3e50;
    text-align: center;
    width: 85%;
  }

  .back-content h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .back-content p {
    font-size: 12px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    cursor: pointer;
    width: 240px;
    height: 240px;
  }
  .front,
  .back {
    cursor: pointer;
    width: 240px;
    height: 240px;
  }
  .back-content {
    color: #2c3e50;
    text-align: center;
    width: 85%;
  }

  .back-content h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .back-content p {
    font-size: 15px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1536px) {
  .card {
    cursor: pointer;
    width: 280px;
    height: 280px;
  }
  .front,
  .back {
    cursor: pointer;
    width: 280px;
    height: 280px;
  }
  .back-content {
    color: #2c3e50;
    text-align: center;
    width: 90%;
  }

  .back-content h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .back-content p {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    cursor: pointer;
    width: 270px;
    height: 230px;
    align-items: center;
    justify-content: center;
  }

  .front,
  .back {
    width: 270px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  .back-content {
    color: #2c3e50;
    text-align: center;
    width: 90%;
  }

  .back-content h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .back-content p {
    font-size: 16px;
    margin-top: 10px;
  }
}

