body {
  background-color: linear-gradient(45deg, #f3eecf, #f9faf1);
  display: flex;
}

.middle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 250px;
  height: 100px;
}

.front1,
.back1 {
  width: 250px;
  height: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  border-radius: 10px;
}

.front2,
.back1 {
  width: 250px;
  height: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  border-radius: 10px;
}

.front3,
.back1 {
  width: 250px;
  height: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  border-radius: 10px;
}
.front4,
.back1 {
  width: 250px;
  height: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  border-radius: 10px;
}

/* .front img {
    width: 249px;
    height: 216px;
  } */

.back1 {
  background-color: whitesmoke;
  transform: perspective(600px) rotateX(180deg);
}

.front1 {
  background-color: #f0e5d8;
  transform: perspective(600px) rotateX(0deg);
}

.front2 {
  background-color: #fff200;
  transform: perspective(600px) rotateX(0deg);
}

.front3 {
  background-color: #39b54a;
  transform: perspective(600px) rotateX(0deg);
}
.front4 {
  background-color: #005b7f;
  transform: perspective(600px) rotateX(0deg);
}

.back-content1 {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

/* .front-content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
  } */

.card:hover > .front1 {
  transform: perspective(600px) rotateX(-180deg);
}
.card:hover > .front2 {
  transform: perspective(600px) rotateX(-180deg);
}
.card:hover > .front3 {
  transform: perspective(600px) rotateX(-180deg);
}
.card:hover > .front4 {
  transform: perspective(600px) rotateX(-180deg);
}

.card:hover > .back1 {
  transform: perspective(600px) rotateX(0deg);
}

/* @media screen and (min-width: 1024px) {
  .card {
    cursor: pointer;
    width: 180px;
    height: 180px;
  }
  .front,
  .back {
    cursor: pointer;
    width: 180px;
    height: 180px;
  }
  .back-content {
    color: #2c3e50;
    text-align: center;
    width: 85%;
  }

  .back-content h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .back-content p {
    font-size: 12px;
    margin-top: 15px;
  }
} */

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .card {
    cursor: pointer;
    width: 320px;
    height: 230px;
  }
  
  .front1,
  .back1 {
    width: 320px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front2,
  .back1 {
    width: 320px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front3,
  .back1 {
    width: 320px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  .front4,
  .back1 {
    width: 320px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1536px){
  .card {
    cursor: pointer;
    width: 400px;
    height: 230px;
  }
  
  .front1,
  .back1 {
    width: 400px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front2,
  .back1 {
    width: 400px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front3,
  .back1 {
    width: 400px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  .front4,
  .back1 {
    width: 400px;
    height: 230px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    cursor: pointer;
    width: 350px;
    height: 200px;
  }
  
  .front1,
  .back1 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front2,
  .back1 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  
  .front3,
  .back1 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
  .front4,
  .back1 {
    width: 300px;
    height: 200px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    -webkit-transition: transform 0.6s linear;
    border-radius: 10px;
  }
}

/* @media screen and (min-width: 480px) {
  .back-content1 {
    color: #2c3e50;
    text-align: center;
    width: 90%;
  }

  .back-content1 h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .back-content1 p {
    font-size: 16px;
    margin-top: 10px;
  }
} */
